/** Bootstrap style container **/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/** Target browsers that DO NOT support CSS Grids first **/
.boxes__box {
  width: 100%;
  height: 300px;
  background-color: pink;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  /** Two-Column layout **/
  .boxes__box {
    float: left;
    width: calc(50% - 20px);
    margin: 0 10px 20px 10px;
  }
}

@media (min-width: 1200px) {
  /** Three-Column layout **/
  .boxes__box {
    width: calc(33.333333% - 20px);
  }
}


/** Target browsers that support CSS Grids **/
@supports (display: grid) {
  .boxes {
    display: grid;
    grid-gap: 15px;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
  }
  
  .boxes__box {
    width: 100%;
    height: 300px;
    margin: 0;
    background-color: indigo;
  }
  
  @media (min-width: 768px) {
    .boxes {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 1200px) {
    .boxes {
      grid-template-columns: 1fr 1fr 1fr;;
    }
  }
}












